# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Data files
*.csv
*.json
*.xlsx
data/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# VS Code settings (if using)
.vscode/

# Logs or cache
*.log
*.sqlite3
.cache/
